{%- extends 'lab/index.html.j2' -%}
{%- block html_head_js -%}
{%- block html_head_js_requirejs -%}
{{ resources.include_js("static/require.min.js") }}
{%- endblock html_head_js_requirejs -%}
<script>     window.requirejs.config({
  map: {
    "*": {{ resources.offline_module_path }} 
  },
});
</script>
{%- endblock html_head_js -%}`
